<div class="new-course__grid">
  <h2>Créez nouveau cours</h2>
    
  <form class="new-course__form" [formGroup]="rcForm" (ngSubmit)="onNewCourseSubmit()" autocomplete="off">
    <mat-form-field class="title__new-course">
      <input matInput placeholder="Titre" formControlName="title">
    </mat-form-field>
  
    <mat-form-field class="description__new-course">
      <input matInput placeholder="Description" formControlName="description">
      <!-- <mat-hint align="end">{{rcForm.get('description').value.length}} / 256</mat-hint> -->
    </mat-form-field>
    
    <mat-form-field class="refresher-course__new-course">
      <mat-label>Cours</mat-label>
      <select matNativeControl formControlName="refresherCourse">
        <option value="" selected></option>
        <option *ngFor="let refresherCourse of refresherCourses" [value]="refresherCourse.id">
          Remise à niveau de {{ refresherCourse.subject }} {{ refresherCourse.year }}
        </option>
      </select>
    </mat-form-field>

    <span>Video:</span>
    <div class="middle_content__new-course">
      <mat-form-field class="session-number__new-course">
        <input matInput placeholder="Partie n° (Optionnel)" type="number" formControlName="sessionNumber" min="1">
      </mat-form-field>
      
      <mat-form-field class="section__new-course">
        <mat-label>Section</mat-label>
        <select matNativeControl formControlName="section">
          <option value="" selected></option>
          <option *ngFor="let section of sectionsCourse" [value]="section">
            {{ section }}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field class="type__new-course">
        <mat-label>Type</mat-label>
        <select matNativeControl formControlName="type">
          <option value="" selected></option>
          <option *ngFor="let type of typesCourse" [value]="type">
            {{ type }}
          </option>
        </select>
      </mat-form-field>
        
      <mat-form-field class="recordedOn_new-course">
        <input matInput [matDatepicker]="picker" placeholder="Enregister le" formControlName="recordedOn">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <input #videoFileInput class="file__new-course" type="file" accept="video/mp4" (change)="onFileSelected($event)" [disabled]="!isUploadReady()">
    </div>
    
    <span>Document PDF:</span>
    <div class="docs__new-courses" formArrayName="docs">
      <ng-container *ngFor="let doc of docs.controls;let i = index;">
        <ng-container [formGroupName]="i">
          <mat-form-field class="title-pdf__new-course">
            <input matInput formControlName="title" placeholder="Nom de fichier (laissez vide si aucun)">
          </mat-form-field>
          <input class="doc-file__new-courses" type="file" (change)="onDocFileSelected($event)" accept="application/pdf,application/msword,.doc,.docx,application/vnd.ms-excel,image/*">
          <button class="btn-remove-doc__new-course" type="button" mat-mini-fab (click)="removeDocs(i)">
            <mat-icon>remove</mat-icon>
          </button>
        </ng-container>
        
      </ng-container>
    </div>
    <div class="btn-add-doc__new-course">
      <button type="button" mat-mini-fab (click)="addDocs()" [disabled]="onBtnAddDocs()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="btn__new-course">
      <button class="button__new-course" [disabled]="!rcForm.valid || loading">Postez ce cours</button>
    </div>
  </form>
</div>

<loader *ngIf="loading"></loader>