:host {
  grid-row: 2;
}

.new-course__grid {
  display: grid;
  grid-template-columns: 1fr;
  > h2 {
    text-align: center; 
  }
  > h3 {
    text-align: center;
    color: #0C9919;
  }
  .message-upload__new-course {
    font-size: 1.5em;
    text-align: center;
    color: #066AA2;
  }
  .message-error__new-course {
    font-size: 1.5em;
    text-align: center;
    color: #E60F11;
  }
}

.new-course__form {
  justify-self: center;
  width: 700px;
  .title__new-course {
    width: inherit;
  }
  .description__new-course {
    width: inherit;
  }
  .refresher-course__new-course {
    width: inherit;
  }
  .middle_content__new-course {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3;
    gap: 20px;
    .section__new-course {
      input {
        margin-bottom: 3px;
      }
    }
    .file__new-course {
      justify-self: center;
    }
  }
  .docs__new-courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    .title-pdf__new-course {
      width: 350px;
      grid-column: 1;
    }
    .doc-file__new-courses {
      grid-column: 2;
      width: 250px;
      padding-top: 20px;
    }
    .btn-remove-doc__new-course {
      grid-column: 3;
      background-color: #ff6171;
    }
  }
  .btn-add-doc__new-course {
    text-align: center;
    > button {
      background-color: greenyellow;
    }
  }
  .btn__new-course {
    text-align: center;
    .button__new-course {
      height: 60px;
      width: 300px;
      background-color: lawngreen;
      border-radius: 4px 4px 4px 4px;
      font-size: 1.3em;
    }
  }
}