<h2 class="session-player__title">[{{ session?.type | titlecase }}] {{ session?.title | titlecase }}<span *ngIf="session?.part"> - Part {{ session?.part }}</span></h2>
<div class="session-player__grid">
  <div class="session-player__video" plyr [plyrPlaysInline]="true" [plyrCrossOrigin]="true" [plyrDriver]="dashjsDriver" [plyrOptions]="options" [plyrSources]="sources"></div>
  <!-- *ngIf="sources?.length > 0" -->
  <div class="session-player__description"></div>
  <div class="session-player__classpapers">
    <!-- <ng-container *ngIf="expression; else elseTemplate">
      <h2 class="session-player__doc">Document</h2>
    </ng-container>
    <ng-template #elseTemplate>
      <h2 class="session-player__doc">Documents</h2>      
    </ng-template> -->
    
    <!-- <ng-container *ngFor="let item of items">
      <div class="pp_pdf">
        <span class="text-attach">1. Exercice suite numérique</span>
        <button mat-raised-button class="btn-attach">
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </ng-container>     -->
  </div>
</div>