<div class="grid__courses">
  <div class="gelm">1</div>
  <div class="gelm">2</div>
  <div class="gelm">3</div>
  <div class="gelm">4</div>
  <div class="gelm">5</div>
  <div class="gelm">6</div>
  <div class="gelm">7</div>
  <div class="gelm">8</div>
  <div class="gelm">9</div>
  <div class="gelm">10</div>
  <div class="gelm">11</div>
  <div class="gelm">12</div>
  <div class="gelm">13</div>
  <div class="gelm">14</div>
  <div class="gelm">15</div>
  <div class="gelm">16</div>
  <div class="gelm">17</div>
  <div class="gelm">18</div>
  <div class="gelm">19</div>
  <div class="gelm">20</div>
</div>

