:host {
  grid-row: 2;
}

.grid__courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
}

.gelm {
  width: 400px;
  height: 400px;
  background-color: aqua;
  outline: 1px solid red;
}