:host {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px auto 60px;
  row-gap: 40px;
  font: 500 14px/80px "Rubik", sans-serif;
}

@media only screen and (max-width: 1400px) {
  :host {
    width: 100%;
  }
}