<div class="cdetails__grid" *ngIf="refresherCourse$ | async as refresherCourse">
  <span class="cdetails__title">{{ refresherCourse.title }}</span>
  <span class="cdetails__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae necessitatibus earum nam adipisci ex? Incidunt sed ad sapiente nobis earum quo explicabo hic aliquam, aperiam, debitis reiciendis iusto corporis perspiciatis.</span>
  <div class="cdetails__section">
    <details>
      <summary>Sommaire</summary>
      <ng-container *ngFor="let s of refresherCourse.sessions">
        <p class="cdetails__listcourses_group_list">{{s.type}}{{s.part}}: {{s.title}}</p>
      </ng-container>      
    </details>
    <div class="cdetails__info">
      <p class="cdetails__teacher">
        <span>Professeur:</span> Mr Chermak
      </p>
      <p class="cdetails__year">
        <span>Années:</span> {{ refresherCourse.year }}
      </p>
      <p class="cdetails__ttsession">
        <span>Audiovisuel:</span> 246 heures
      </p>      
      <div class="auth__new-details" #paypalButton *ngIf="isUserLoggedIn$ | async"></div>
      <a class="connect__new-details" [routerLink]="['/auth/login']" *ngIf="!(isUserLoggedIn$ | async)">SE CONNECTER</a>
    </div>
  </div>
</div>
