:host {
  display: grid;
  grid-row: 1;
}

.toppest {
  display: grid;
  grid-template-columns: 6px 1fr;
  .logo {
    grid-column: 1;
    align-self: center;
    margin-top: 20px;
    a {
      &:link {
        text-decoration: none;
      }
    }
  }
  
  .right_menu {
    grid-column: 2;
    place-self: center end;
    span {
      margin-right: 30px;
      a {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        text-transform: capitalize;
        font-weight: 630;
        font-size: 1.1em;
        color: #002347;
        &:link {
          text-decoration: none;
        }
        &:hover {
          color: #ffc107;
        }
      }
    }
  }
  .toggle {
    visibility: hidden;
  }

  .toggle {
    text-decoration: none;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.61);
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.45s ease-out 0;
    position: fixed;
    top: 2px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
  }

  .sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: -190px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    width: 8rem;
    padding: 1.5em;
    background: #19C4BC;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;  
      li {
        a {
          color: #fff;
          font-family: 'Poiret One', cursive;
          font-size: 1.2em;
          margin: 0;
          margin-bottom: 16px;
          cursor: pointer;
          text-decoration: none;
          line-height: 200%;
          &:hover {
            color: rgba(0, 0, 0, 0.61);      
          }
        } 
      }
    }
  }

  #slide:checked + .container .sidebar {
    right: 0px;
    width: 200px;
  }

  #slide:checked + .container .toggle {
    right: 200px;
  }

  #slide {
    display: none;
  }

}

@media only screen and (max-width: 480px) {
  .toppest {
    margin-top: -20px;
    .logo {
      grid-column: 1;
      align-self: center;
      margin-left: auto;
      img {
        margin-top: 5px;
      }
    }
    .right_menu {
      visibility: hidden;
    }
    .toggle {
      visibility: visible;
    }
  }
}
