<div class="toppest">
  <div class="logo">
    <a [routerLink]="['/']">
      <img src="./../../../../assets/icons8-edit-image-64.png">
    </a>
  </div>
  
  <div class="right_menu">
    <span>
      <a [routerLink]="['/u/mes-cours']">Mes Cours</a>
    </span>
    <span>
      <a [routerLink]="['/u/mon-profil']">Profils</a>
    </span>
  
    <!-- <span>
      <a [routerLink]="['/auth/login']">Se Connecter</a>
    </span> -->
    <!-- <span>
      <a [routerLink]="['/auth/signup']">S'enregistrer</a>
    </span> -->
  
    <span>
      <a [routerLink]="['/']" (click)="onLogout()">Se Deconnecter</a>
    </span>
  </div>
  
  <div class="nav-icon">
    <div></div>
  </div>
</div>