:host {
  grid-row: 3;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px auto;
  column-gap: 30px;

  font-weight: 560;
  font-size: 1.1em;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color:#ffc107;
    }
  }
  .grid-elem:first-child {
    justify-self: end;
  }
  .grid-elem:nth-child(3) {
    grid-column: 1 / -1;
    height: 40px;
    justify-self: center;
    font-size: 12px;
  }
}